# Configuracion de la base de datos local
# Para correr la app fuera de Docker apuntamos a localhost.
# Dentro de Docker se sobreescribe MONGO_HOST=basededatos en docker-compose.yml.
MONGO_HOST=localhost
MONGO_PORT=27017
DB_NAME=pdf_extractor_db

# Seguridad y aplicacion
SECRET_KEY=cambiar_esta_clave_en_cada_entorno
DEBUG=True
API_V1_STR=/api/v1
